@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&display=swap');

:root {
    --font-padrao: 'Orbitron', Arial, sans-serif;
    --greenOff: #376e00;
    --redOff: #750017;
    --blueOff: #003f53;
    --yellowOff: #6d4700;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(90deg, rgb(60, 60, 60), rgb(35, 35, 35));
    color: white;
}

header {
    font: normal normal 1.3em var(--font-padrao);
    text-align: center;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.308);
} 

header > .cab {
    margin-top: 2%;
}

header h2 {
    font-size: 1.1em;
}

main {
    text-align: center;
}

main > section {
    margin-top: 2.5%;
}

main .inp {
    min-width: 130px;
    min-height: 130px;
    outline: 5px solid black;
}

main input#btnGreen {
    background-color: var(--greenOff);
    border-radius: 100% 3% 3% 3%;
}

main input#btnRed {
    background-color: var(--redOff);
    border-radius: 3% 100% 3% 3%;
}

main input#btnBlue {
    background-color: var(--blueOff);
    border-radius: 3% 3% 100% 3%;
}

main input#btnYellow {
    background-color: var(--yellowOff);
    border-radius: 3% 3% 3% 100%;
}

main #btnStart {
    padding: 4px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
    font: normal normal 1.1em var(--font-padrao);
}